default: &default
  host: your_cluster_name.hashhash.ap-northeast-1.redshift.amazonaws.com
  port: 5439
  dbname: dev
  user: your_user
  password: your_password

development:
  <<: *default

production:
  <<: *default
